<div class="footer-wrapper">
  <div class="footer-title">
    <div
      class="container title-wrapper"
      [class.title-wrapper-mobile]="mobileView"
    >
      <div class="title-left">
        <span class="title">{{ "footer.title" | translate }} </span>
        <span class="desc">{{ "footer.desc" | translate }}</span>
      </div>
      <div class="title-right" style="cursor: pointer">
        <button routerLink="/dat-xe">
          <i class="fa-regular fa-clock"></i>
          {{ "footer.footer1" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <div class="container row" [class.footer-info-mobile]="mobileView">
      <div class="info-value">
        <span class="name">B&M Travel</span>
        <span
          style="
            font-size: 20px;
            font-weight: 200;
            margin-top: 10px;
            margin-bottom: 5px;
          "
          >{{ "footer.footer2" | translate }}</span
        >
        <span style="margin-bottom: 5px"
          ><i class="fa-solid fa-map-location-dot"></i>
          {{ "footer.footer3" | translate }}</span
        >
        <span style="margin-bottom: 5px"
          ><i class="fa-solid fa-phone-volume"></i> 0935 850 076</span
        >
        <span style="margin-bottom: 5px"
          ><i class="fa-solid fa-earth-asia"></i> www.xehoiandanang.vn</span
        >
      </div>
      <div class="social-info">
        <div>
          <a class="btn-footer" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
        <div class="note">
          <span>Hotline/Zalo/Kakaotalk/Whatsapp:</span>
          <span class="phone-number">0935 850 076</span>
        </div>
        <div class="">
          <a href="https://zalo.me/0935850076">
            <img
              style="border-radius: 18px; margin-right: 10px"
              src="./content/images/zalo.png"
              alt=""
            />
          </a>
          <span (click)="openModal('kakaotalk')">
            <img
              style="border-radius: 18px; margin-right: 8px"
              src="./content/images/kakao-talk.png"
              alt=""
            />
          </span>
          <span (click)="openModal('whatsapp')">
            <img
              src="./content/images/whatsapp.png"
              width="80"
              height="80"
              alt=""
            />
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <span class="container">Copyright 2023 © www.xehoiandanang.vn</span>
  </div>
</div>
