:host {
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 500;
}
.footer-wrapper {
  .footer-title {
    background-color: #28a745;
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .title-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        .title {
          font-weight: 700;
          font-size: 20px;
          line-height: 120%;
          color: white;
          margin-bottom: 12px;
          text-align: center;
        }
        .desc {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: white;
          text-align: center;
        }
      }
      .title-right {
        flex: 1;
        display: flex;
        justify-content: center;
        //margin-left: 20px;
        button {
          padding: 10px;
          border: 2px solid black;
          border-radius: 20px;
          color: black;
          font-weight: 700;
          font-size: 16px;
        }
      }
      &.title-wrapper-mobile {
        display: flex;
        flex-direction: column;
        .title-right {
          margin-top: 24px;
        }
      }
    }
  }
  .footer-info {
    background-color: rgb(30, 48, 80);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .container {
      padding: 36px;
      display: flex;
      flex-direction: row;
      .info-value {
        flex: 1;
        span {
          display: block;
        }
        .name {
          color: #ffd43b;
          font-weight: 700;
          font-size: 26px;
        }
      }
      .social-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        .btn-footer {
          padding: 10px;
          border: 2px solid #ffd43b;
          border-radius: 20px;
          color: #ffd43b;
          text-decoration: none;
          .icon {
            margin-right: 10px;
          }
          .phone-number {
            font-size: 19px;
            font-weight: 700;
            color: #ffd43b;
          }
        }
        .note {
          display: flex;
          flex-direction: column;
          font-weight: 500;
          font-size: 16px;
          margin-top: 20px;
          margin-bottom: 20px;
          .phone-number {
            margin-top: 10px;
          }
        }
      }
    }
    .footer-info-mobile {
      display: flex;
      flex-direction: column;
      .info-value,
      .social-info {
        padding-bottom: 24px;
      }
      &.container {
        padding: unset;
      }
    }
  }
  .copy-right {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
