.order-group {
  background-color: rgb(47, 116, 169);
  .order {
    display: flex;
    flex-direction: row;
    align-items: center;
    .order-left {
      flex: 1;
      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: yellow;
        display: block;
        margin-bottom: 12px;
      }
      .desc {
        color: white;
        display: block;
        margin-bottom: 12px;
      }
      .btn-footer {
        padding: 10px;
        border: 2px solid #ffd43b;
        border-radius: 20px;
        color: #ffd43b;
        .icon {
          margin-right: 10px;
        }
        .phone-number {
          font-size: 19px;
          font-weight: 700;
          color: #ffd43b;
        }
      }
    }
    .order-right {
      flex: 1;
      padding: 20px;
    }
  }
}
