<div
  class="order-group"
  [class.order-group-mobile]="mobileView"
  style="margin-top: 24px"
>
  <div class="container order">
    <div class="order-left">
      <img width="100%" src="./content/images/banner.png" alt="" />
      <span class="title"> {{ "order.title" | translate }} </span>
      <span class="desc"> {{ "order.desc" | translate }} </span>
      <a class="btn-footer" href="tel:0935850076">
        <span class="icon fa-solid fa-phone"></span>
        <span class="phone-number">0935 850 076</span>
      </a>
    </div>
    <div class="order-right">
      <form>
        <div class="form-group row">
          <div class="col-sm-12">
            <input
              placeholder="{{ 'order.order7' | translate }}"
              class="form-control"
            />
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="{{ 'order.order8' | translate }}"
            />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Email" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="{{ 'order.order9' | translate }}"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="{{ 'order.order10' | translate }}"
            />
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <select class="form-control">
              <option [defaultSelected]="true">
                {{ "order.order1" | translate }}
              </option>
              <option>{{ "order.order2" | translate }}</option>
              <option>{{ "order.order3" | translate }}</option>
              <option>{{ "order.order4" | translate }}</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control">
              <option [defaultSelected]="true">
                {{ "order.order5" | translate }}
              </option>
              <option>{{ "priceList.priceList5" | translate }}</option>
              <option>{{ "priceList.priceList13" | translate }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="date" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <textarea
              class="form-control"
              placeholder="{{ 'order.order11' | translate }}"
              aria-label="With textarea"
            ></textarea>
          </div>
        </div>
        <div
          class="row"
          style="justify-content: center; margin-right: 0; margin-left: 0"
        >
          <button
            type="submit"
            style="text-align: center"
            class="btn btn-danger"
          >
            {{ "order.order6" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<bang-gia-thue-xe></bang-gia-thue-xe>
