<div class="navbar container">
  <div class="logo">
    <img src="./content/images/logo.jpeg" alt="" />
  </div>
  <div class="navbar-main">
    <div class="navbar-item" routerLink="">
      <span class="fa-solid fa-house"></span>
      <span>HOME</span>
    </div>
    <div class="navbar-item" routerLink="bang-gia-thue-xe">
      BẢNG GIÁ THUÊ XE
    </div>
    <div class="navbar-item" routerLink="gioi-thieu">GIỚI THIỆU</div>
    <div class="navbar-item" routerLink="dat-xe">ĐẶT XE</div>
  </div>
  <div class="navbar-left"></div>
</div>
