<div class="navbar container">
  <div class="logo">
    <img src="./content/images/logo.jpeg" alt="" />
  </div>
  <div class="navbar-main">
    <div class="navbar-item" routerLink="">
      <span class="fa-solid fa-house"></span>
      <span>Home</span>
    </div>
    <div class="navbar-item" routerLink="bang-gia-thue-xe">
      Bảng giá thuê xe
    </div>
    <div class="navbar-item" routerLink="gioi-thieu">Giới thiệu</div>
    <div class="navbar-item" routerLink="dat-xe">Đặt xe</div>
  </div>
  <div class="navbar-left"></div>
</div>
