<div class="container-body" [class.container-body-mobile]="mobileView">
  <div id="banner" class="banner">
    <div class="banner-info">
      <span *ngIf="mobileView" style="text-align: center" class="title">{{
        "banner.titleMobile" | translate
      }}</span>
      <span *ngIf="!mobileView" class="title">{{
        "banner.title" | translate
      }}</span>

      <div class="desc-group">
        <span class="desc-item">{{ "banner.desc1" | translate }}</span>
        <span class="desc-item">{{ "banner.desc2" | translate }}</span>
        <span class="desc-item">{{ "banner.desc3" | translate }}</span>
      </div>
      <a class="btn-banner" href="tel:0935850076">
        <span class="icon fa-solid fa-phone"></span>
        <span class="phone-number">0935 850 076</span>
      </a>
      <div class="list-social-media">
        <a href="https://zalo.me/0935850076" class="social-media-item">ZALO</a>
        <button class="social-media-item" (click)="openModal('kakaotalk')">
          KAKAOTALK
        </button>
        <button class="social-media-item" (click)="openModal('whatsapp')">
          WHATSAPP
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desc">
      <div class="title">
        <span *ngIf="mobileView" class="text" style="text-align: center">{{
          "priceList.titleMobile" | translate
        }}</span>
        <span *ngIf="!mobileView" class="text">{{
          "priceList.title" | translate
        }}</span>
        <span class="value">www.xehoiandanang.vn</span>
      </div>
      <div class="contact">
        <span class="text">
          {{ "priceList.desc" | translate }}
        </span>
        <div class="info">
          <div class="text">{{ "priceList.callMe" | translate }}</div>
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
          <button style="display: none">
            {{ "priceList.bookingOnline" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="price-list row">
      <div
        [class.price-item-mobile]="mobileView"
        class="price-item col"
        [style]="mobileView ? 'margin-bottom: 24px' : ''"
      >
        <div class="header">
          <div class="destination">
            <span class="text">{{ "priceList.priceList1" | translate }}</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">{{ "priceList.priceList2" | translate }}</span>
          </div>
          <div class="description">
            {{ "priceList.priceList3" | translate }}
          </div>
        </div>
        <div class="table">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>{{ "priceList.priceList4" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>250.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList6" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>300.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList7" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>450.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
      <div [class.price-item-mobile]="mobileView" class="price-item col">
        <div class="header">
          <div class="destination">
            <span class="text">{{ "priceList.priceList1" | translate }}</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">{{ "priceList.priceList8" | translate }}</span>
          </div>
          <div class="description">
            {{ "priceList.priceList9" | translate }}
          </div>
        </div>
        <div class="table">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>{{ "priceList.priceList4" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>400.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList6" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>450.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList7" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>650.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
    </div>
    <div class="price-list row">
      <div
        class="price-item col"
        [class.price-item-mobile]="mobileView"
        [style]="mobileView ? 'margin-bottom: 24px' : ''"
      >
        <div class="header">
          <div class="destination">
            <span class="text">{{ "priceList.priceList10" | translate }}</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">{{ "priceList.priceList11" | translate }}</span>
          </div>
          <div class="description">
            {{ "priceList.priceList12" | translate }}
          </div>
        </div>
        <div class="table table-custom">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                {{ "priceList.priceList4" | translate }}
              </td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>1.500.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList13" | translate }}</td>
              <td>2.000.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="
                  text-align: center;
                  vertical-align: middle;
                  background-color: #f0f3f5;
                "
              >
                {{ "priceList.priceList6" | translate }}
              </td>
              <td style="background-color: #f0f3f5">
                {{ "priceList.priceList5" | translate }}
              </td>
              <td style="background-color: #f0f3f5">1.800.000 vnđ</td>
            </tr>
            <tr>
              <td style="background-color: #f0f3f5">
                {{ "priceList.priceList13" | translate }}
              </td>
              <td style="background-color: #f0f3f5">2.400.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                {{ "priceList.priceList7" | translate }}
              </td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>2.000.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList13" | translate }}</td>
              <td>3.000.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
      <div class="price-item col" [class.price-item-mobile]="mobileView">
        <div class="header">
          <div class="destination">
            <span class="text">{{ "priceList.priceList1" | translate }}</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">{{ "priceList.priceList11" | translate }}</span>
          </div>
          <div class="description">
            {{ "priceList.priceList14" | translate }}
          </div>
        </div>
        <div class="table table-custom">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                {{ "priceList.priceList4" | translate }}
              </td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>1.400.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList13" | translate }}</td>
              <td>1.900.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="
                  text-align: center;
                  vertical-align: middle;
                  background-color: #f0f3f5;
                "
              >
                {{ "priceList.priceList6" | translate }}
              </td>
              <td style="background-color: #f0f3f5">
                {{ "priceList.priceList5" | translate }}
              </td>
              <td style="background-color: #f0f3f5">1.700.000 vnđ</td>
            </tr>
            <tr>
              <td style="background-color: #f0f3f5">
                {{ "priceList.priceList13" | translate }}
              </td>
              <td style="background-color: #f0f3f5">2.200.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                {{ "priceList.priceList7" | translate }}
              </td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>2.000.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList13" | translate }}</td>
              <td>2.800.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
    </div>
    <div class="price-list row">
      <div
        class="price-item col"
        [class.price-item-mobile]="mobileView"
        [style]="mobileView ? 'margin-bottom: 24px' : ''"
      >
        <div class="header">
          <div class="destination">
            <span class="text">{{ "priceList.priceList10" | translate }}</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">{{ "priceList.priceList14" | translate }}</span>
          </div>
          <div class="description">
            {{ "priceList.priceList16" | translate }}
          </div>
        </div>
        <div class="table table-custom">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                {{ "priceList.priceList4" | translate }}
              </td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>600.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList13" | translate }}</td>
              <td>1.050.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="
                  text-align: center;
                  vertical-align: middle;
                  background-color: #f0f3f5;
                "
              >
                {{ "priceList.priceList6" | translate }}
              </td>
              <td style="background-color: #f0f3f5">
                {{ "priceList.priceList5" | translate }}
              </td>
              <td style="background-color: #f0f3f5">700.000 vnđ</td>
            </tr>
            <tr>
              <td style="background-color: #f0f3f5">
                {{ "priceList.priceList13" | translate }}
              </td>
              <td style="background-color: #f0f3f5">1.250.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                {{ "priceList.priceList7" | translate }}
              </td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>900.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList13" | translate }}</td>
              <td>1.600.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
      <div class="price-item col" [class.price-item-mobile]="mobileView">
        <div class="header">
          <div class="destination">
            <span class="text">{{ "priceList.priceList10" | translate }}</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">{{ "priceList.priceList8" | translate }}</span>
          </div>
          <div class="description">
            {{ "priceList.priceList17" | translate }}
          </div>
        </div>
        <div class="table">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>{{ "priceList.priceList4" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>220.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList6" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>270.000 vnđ</td>
            </tr>
            <tr>
              <td>{{ "priceList.priceList7" | translate }}</td>
              <td>{{ "priceList.priceList5" | translate }}</td>
              <td>350.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="order-group"
    [class.order-group-mobile]="mobileView"
    style="margin-top: 24px"
  >
    <div class="container order">
      <div class="order-left">
        <img width="100%" src="./content/images/banner.png" alt="" />
        <span class="title"> {{ "order.title" | translate }} </span>
        <span class="desc"> {{ "order.desc" | translate }} </span>
        <a class="btn-footer" href="tel:0935850076">
          <span class="icon fa-solid fa-phone"></span>
          <span class="phone-number">0935 850 076</span>
        </a>
      </div>
      <div class="order-right">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input
                placeholder="{{ 'order.order7' | translate }}"
                class="form-control"
              />
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="{{ 'order.order8' | translate }}"
              />
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="{{ 'order.order9' | translate }}"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="{{ 'order.order10' | translate }}"
              />
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
              <select class="form-control">
                <option [defaultSelected]="true">
                  {{ "order.order1" | translate }}
                </option>
                <option>{{ "order.order2" | translate }}</option>
                <option>{{ "order.order3" | translate }}</option>
                <option>{{ "order.order4" | translate }}</option>
              </select>
            </div>
            <div class="col">
              <select class="form-control">
                <option [defaultSelected]="true">
                  {{ "order.order5" | translate }}
                </option>
                <option>{{ "priceList.priceList5" | translate }}</option>
                <option>{{ "priceList.priceList13" | translate }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="date" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <textarea
                class="form-control"
                placeholder="{{ 'order.order11' | translate }}"
                aria-label="With textarea"
              ></textarea>
            </div>
          </div>
          <div
            class="row"
            style="justify-content: center; margin-right: 0; margin-left: 0"
          >
            <button
              type="submit"
              style="text-align: center"
              class="btn btn-danger"
            >
              {{ "order.order6" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
