<div class="container-body" [class.container-body-mobile]="mobileView">
  <div id="banner" class="banner">
    <div class="banner-info">
      <span *ngIf="mobileView" style="text-align: center" class="title"
        >Sân bay <br />
        Đà Nẵng - Hội An</span
      >
      <span *ngIf="!mobileView" class="title">Sân bay Đà Nẵng - Hội An</span>

      <div class="desc-group">
        <span class="desc-item">Đưa đón và khứ hồi.</span>
        <span class="desc-item">Đặt lịch trước & thanh toán sau.</span>
        <span class="desc-item"
          >Giữ kế hoạch du lịch linh hoạt - đặt chỗ và không phải thanh toán
          ngày hôm nay.</span
        >
      </div>
      <a class="btn-banner" href="tel:0935850076">
        <span class="icon fa-solid fa-phone"></span>
        <span class="phone-number">0935 850 076</span>
      </a>
      <div class="list-social-media">
        <a href="https://zalo.me/0935850076" class="social-media-item">ZALO</a>
        <button class="social-media-item" (click)="openModal()">KAKAOTALK</button>
        <button class="social-media-item">WHATSAPP</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch static backdrop modal
        </button>
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>      </div>
    </div>
  </div>
  <div class="container">
    <div class="desc">
      <div class="title">
        <span *ngIf="mobileView" class="text" style="text-align: center"
          >Dịch vụ thuê xe <br />
          Đà Nẵng - Hội An <br />
          giá rẻ</span
        >
        <span *ngIf="!mobileView" class="text"
          >Dịch vụ thuê xe Đà Nẵng - Hội An giá rẻ</span
        >
        <span class="value">www.xehoiandanang.vn</span>
      </div>
      <div class="contact">
        <span class="text">
          Xe chất lượng cao – Đón và trả tận nơi – Wifi – Hỗ trợ 24/7 từ bộ phận
          chăm sóc khách hàng của chúng tôi
        </span>
        <div class="info">
          <div class="text">Gọi để đặt xe:</div>
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
          <button style="display: none">Đặt xe online</button>
        </div>
      </div>
    </div>
    <div class="price-list row">
      <div
        [class.price-item-mobile]="mobileView"
        class="price-item col"
        [style]="mobileView ? 'margin-bottom: 24px' : ''"
      >
        <div class="header">
          <div class="destination">
            <span class="text">XE ĐÀ NẴNG</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">HỘI AN</span>
          </div>
          <div class="description">
            ĐÓN TẠI SÂN BAY, GA TÀU LỬA, KHÁCH SẠN TỪ ĐÀ NẴNG ĐI HỘI AN HOẶC
            NGƯỢC LẠI.
          </div>
        </div>
        <div class="table">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>Xe 4 chỗ</td>
              <td>1 chiều</td>
              <td>250.000 vnđ</td>
            </tr>
            <tr>
              <td>Xe 7 chỗ</td>
              <td>1 chiều</td>
              <td>300.000 vnđ</td>
            </tr>
            <tr>
              <td>Xe 16 chỗ</td>
              <td>1 chiều</td>
              <td>450.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
      <div [class.price-item-mobile]="mobileView" class="price-item col">
        <div class="header">
          <div class="destination">
            <span class="text">XE ĐÀ NẴNG</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">VINPEARL NAM HỘI AN</span>
          </div>
          <div class="description">
            ĐÓN TẠI SÂN BAY, GA TÀU LỬA, KHÁCH SẠN TỪ ĐÀ NẴNG ĐI BÀ NÀ HILLS.
            HOẶC NGƯỢC LẠI.
          </div>
        </div>
        <div class="table">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>Xe 4 chỗ</td>
              <td>1 chiều</td>
              <td>400.000 vnđ</td>
            </tr>
            <tr>
              <td>Xe 7 chỗ</td>
              <td>1 chiều</td>
              <td>450.000 vnđ</td>
            </tr>
            <tr>
              <td>Xe 16 chỗ</td>
              <td>1 chiều</td>
              <td>650.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
    </div>
    <div class="price-list row">
      <div
        class="price-item col"
        [class.price-item-mobile]="mobileView"
        [style]="mobileView ? 'margin-bottom: 24px' : ''"
      >
        <div class="header">
          <div class="destination">
            <span class="text">XE HỘI AN</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">HUẾ</span>
          </div>
          <div class="description">
            ĐÓN KHÁCH TẠI KHÁCH SẠN TỪ HỘI AN ĐI TP HUẾ. HOẶC NGƯỢC LẠI .
          </div>
        </div>
        <div class="table table-custom">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                Xe 4 chỗ
              </td>
              <td>1 chiều</td>
              <td>1.500.000 vnđ</td>
            </tr>
            <tr>
              <td>2 chiều</td>
              <td>2.000.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="
                  text-align: center;
                  vertical-align: middle;
                  background-color: #f0f3f5;
                "
              >
                Xe 7 chỗ
              </td>
              <td style="background-color: #f0f3f5">1 chiều</td>
              <td style="background-color: #f0f3f5">1.800.000 vnđ</td>
            </tr>
            <tr>
              <td style="background-color: #f0f3f5">2 chiều</td>
              <td style="background-color: #f0f3f5">2.400.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                Xe 16 chỗ
              </td>
              <td>1 chiều</td>
              <td>2.000.000 vnđ</td>
            </tr>
            <tr>
              <td>2 chiều</td>
              <td>3.000.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
      <div class="price-item col" [class.price-item-mobile]="mobileView">
        <div class="header">
          <div class="destination">
            <span class="text">XE ĐÀ NẴNG</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">HUẾ</span>
          </div>
          <div class="description">
            ĐÓN TẠI SÂN BAY , GA TÀU LỬA, KHÁCH SẠN TỪ ĐÀ NẴNG ĐI TP HUẾ. HOẶC
            NGƯỢC LẠI.
          </div>
        </div>
        <div class="table table-custom">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                Xe 4 chỗ
              </td>
              <td>1 chiều</td>
              <td>1.400.000 vnđ</td>
            </tr>
            <tr>
              <td>2 chiều</td>
              <td>1.900.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="
                  text-align: center;
                  vertical-align: middle;
                  background-color: #f0f3f5;
                "
              >
                Xe 7 chỗ
              </td>
              <td style="background-color: #f0f3f5">1 chiều</td>
              <td style="background-color: #f0f3f5">1.700.000 vnđ</td>
            </tr>
            <tr>
              <td style="background-color: #f0f3f5">2 chiều</td>
              <td style="background-color: #f0f3f5">2.200.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                Xe 16 chỗ
              </td>
              <td>1 chiều</td>
              <td>2.000.000 vnđ</td>
            </tr>
            <tr>
              <td>2 chiều</td>
              <td>2.800.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
    </div>
    <div class="price-list row">
      <div
        class="price-item col"
        [class.price-item-mobile]="mobileView"
        [style]="mobileView ? 'margin-bottom: 24px' : ''"
      >
        <div class="header">
          <div class="destination">
            <span class="text">XE HỘI AN</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">BÀ NÀ HILLS</span>
          </div>
          <div class="description">
            ĐÓN TẠI KHÁCH SẠN, TỪ HỘI AN ĐI BÀ NÀ HILL. HOẶC NGƯỢC LẠI.
          </div>
        </div>
        <div class="table table-custom">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                Xe 4 chỗ
              </td>
              <td>1 chiều</td>
              <td>600.000 vnđ</td>
            </tr>
            <tr>
              <td>2 chiều</td>
              <td>1.050.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="
                  text-align: center;
                  vertical-align: middle;
                  background-color: #f0f3f5;
                "
              >
                Xe 7 chỗ
              </td>
              <td style="background-color: #f0f3f5">1 chiều</td>
              <td style="background-color: #f0f3f5">700.000 vnđ</td>
            </tr>
            <tr>
              <td style="background-color: #f0f3f5">2 chiều</td>
              <td style="background-color: #f0f3f5">1.250.000 vnđ</td>
            </tr>
            <tr>
              <td
                rowspan="2"
                style="text-align: center; vertical-align: middle"
              >
                Xe 16 chỗ
              </td>
              <td>1 chiều</td>
              <td>900.000 vnđ</td>
            </tr>
            <tr>
              <td>2 chiều</td>
              <td>1.600.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
      <div class="price-item col" [class.price-item-mobile]="mobileView">
        <div class="header">
          <div class="destination">
            <span class="text">XE HỘI AN</span>
            <span class="icon fa-solid fa-right-left"></span>
            <span class="text">VINPEARL NAM HỘI AN</span>
          </div>
          <div class="description">
            ĐÓN TẠI KHÁCH SẠN TỪ HỘI AN ĐI VINPEARL NAM HỘI AN. HOẶC NGƯỢC LẠI.
          </div>
        </div>
        <div class="table">
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>Xe 4 chỗ</td>
              <td>1 chiều</td>
              <td>220.000 vnđ</td>
            </tr>
            <tr>
              <td>Xe 7 chỗ</td>
              <td>1 chiều</td>
              <td>270.000 vnđ</td>
            </tr>
            <tr>
              <td>Xe 16 chỗ</td>
              <td>1 chiều</td>
              <td>350.000 vnđ</td>
            </tr>
          </table>
        </div>
        <div class="action">
          <a class="btn-phone" href="tel:0935850076">
            <span class="icon fa-solid fa-phone"></span>
            <span class="phone-number">0935 850 076</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="order-group"
    [class.order-group-mobile]="mobileView"
    style="margin-top: 24px"
  >
    <div class="container order">
      <div class="order-left">
        <img width="100%" src="./content/images/banner.png" alt="" />
        <span class="title">Đặt xe trực tuyến ngay hôm nay</span>
        <span class="desc"
          >Đặt xe du lịch tham quan các điểm Đà Nẵng – Hội An, đón tiễn sân bay,
          xe 1 chiều… cực đơn giản</span
        >
        <a class="btn-footer" href="tel:0935850076">
          <span class="icon fa-solid fa-phone"></span>
          <span class="phone-number">0935 850 076</span>
        </a>
      </div>
      <div class="order-right">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input placeholder="Họ & Tên" class="form-control" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Số điện thoại"
              />
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nơi đón" />
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nơi đến" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
              <select class="form-control">
                <option [defaultSelected]="true">Chọn loại xe</option>
                <option>SEDEN 4 chỗ</option>
                <option>SUV 7 chỗ</option>
                <option>VAN 16 chỗ</option>
              </select>
            </div>
            <div class="col">
              <select class="form-control">
                <option [defaultSelected]="true">Chọn chiều đi</option>
                <option>1 chiều</option>
                <option>2 chiều</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="date" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <textarea
                class="form-control"
                placeholder="Bạn có muốn chúng tôi giúp gì không? (VD: số hiệu chuyến bay, đến sớm 15 phút)"
                aria-label="With textarea"
              ></textarea>
            </div>
          </div>
          <div
            class="row"
            style="justify-content: center; margin-right: 0; margin-left: 0"
          >
            <button
              type="submit"
              style="text-align: center"
              class="btn btn-danger"
            >
              Đặt xe ngay
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #myModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal Title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Modal content goes here.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
