<div class="gioi-thieu container" [class.gioi-thieu-mobile]="mobileView">
  <div class="note">
    <div class="detail">
      <span style="margin-bottom: 20px">
        <span style="color: #ed1c24; font-weight: 700">{{
          "introduce.intro1" | translate
        }}</span>
        {{ "introduce.intro2" | translate }}
        <span style="font-weight: 700">{{
          "introduce.intro3" | translate
        }}</span>
        {{ "introduce.intro4" | translate }}
      </span>
      <span style="margin-bottom: 20px">
        {{ "introduce.intro5" | translate }}
      </span>
      <span style="margin-bottom: 20px">
        {{ "introduce.intro6" | translate }}
      </span>
    </div>
    <div class="image">
      <img
        width="100%"
        height="100%"
        src="./content/images/list-car.jpeg"
        alt=""
      />
    </div>
  </div>
  <div class="benefits">
    <span class="title">{{ "introduce.intro7" | translate }}</span>
    <span class="title-desc">{{ "introduce.intro8" | translate }}</span>
    <div class="list-benefits">
      <div class="item">
        <!--        <div class="icon">-->
        <!--        </div>-->
        <div class="title">
          {{ "introduce.intro17" | translate }}
        </div>
        <div class="desc">
          {{ "introduce.intro18" | translate }}
        </div>
      </div>
      <div class="item">
        <!--        <div class="icon"></div>-->
        <div class="title">
          {{ "introduce.intro19" | translate }}
        </div>
        <div class="desc">
          {{ "introduce.intro20" | translate }}
        </div>
      </div>
      <div class="item">
        <!--        <div class="icon"></div>-->
        <div class="title">
          {{ "introduce.intro21" | translate }}
        </div>
        <div class="desc">
          {{ "introduce.intro22" | translate }}
        </div>
      </div>
    </div>
    <div class="note-price">
      {{ "introduce.intro9" | translate }}
    </div>
  </div>
  <div class="detail-car">
    <div class="item">
      <span class="title">{{ "introduce.intro10" | translate }}</span>
      <span class="desc">{{ "introduce.intro11" | translate }}</span>
    </div>
    <div class="item">
      <span class="title">{{ "introduce.intro12" | translate }}</span>
      <span class="desc">{{ "introduce.intro13" | translate }}</span>
    </div>
    <div class="item">
      <span class="title">{{ "introduce.intro14" | translate }}</span>
      <span class="desc">{{ "introduce.intro15" | translate }}</span>
    </div>
  </div>
  <div class="map">
    <div class="title">
      <div class="line"></div>
      <div class="text">{{ "introduce.intro16" | translate }}</div>
      <div class="line"></div>
    </div>
    <div class="map-detail">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5366.864804841041!2d108.32875922930577!3d15.890569567124695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1685794021961!5m2!1svi!2s"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
