.gioi-thieu {
  padding: 20px;
  .note {
    display: flex;
    flex-direction: row;
    //margin-top: 56px;
    margin-bottom: 20px;
    .detail {
      flex: 1;
      display: flex;
      flex-direction: column;
      span {
      }
    }
    .image {
      flex: 1;
      padding-left: 20px;
      width: 100%;
      height: 100%;
    }
  }
  .benefits {
    .title {
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      color: #001952;
      display: block;
    }
    .title-desc {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #001952;
    }
    .list-benefits {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      .item {
        flex: 1;
        padding: 10px;
        .title {
          text-align: center;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          color: rgb(20, 110, 190);
        }
        .desc {
          margin-top: 20px;
          text-align: center;
        }
        &:not(:last-child) {
          border-right: 1px solid #757575;
        }
      }
    }
    .note-price {
      border-left: 2px solid #757575;
      padding-left: 20px;
      margin-top: 40px;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      font-style: italic;
    }
  }
  .detail-car {
    margin-top: 40px;
    .item {
      .title {
        display: block;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: rgb(20, 110, 190);
        margin-bottom: 8px;
      }
      .desc {
      }
    }
  }
  .map {
    margin-top: 40px;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      .line {
        flex: 1;
        width: 1px;
        height: 1px;
        border: 1px solid #757575;
      }
      .text {
        padding-right: 4px;
        padding-left: 4px;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: rgb(20, 110, 190);
      }
    }
    .map-detail {
      margin-top: 20px;
    }
  }
  &.gioi-thieu-mobile {
    .note {
      display: flex;
      flex-direction: column;
    }
    .benefits {
      .list-benefits {
        display: flex;
        flex-direction: column;
        .item {
          border-right: unset;
        }
      }
    }
  }
}
