<div class="gioi-thieu container">
  <div class="note">
    <div class="detail">
      <span style="margin-bottom: 20px">
        <span style="color: #ed1c24; font-weight: 700"
          >CÔNG TY TNHH MTV B&M TRAVEL</span
        >
        là <span style="font-weight: 700">công ty chuyên xe du lịch</span> Đà
        Nẵng, Hội An, Bà Nà, Cù Lao Chàm, Mỹ Sơn, Đèo Hải Vân, Lăng Cô, Huế,
        Quảng Ngãi…,
      </span>
      <span style="margin-bottom: 20px">
        Với 20 chiếc xe từ 4-16 chỗ ngồi đời mới, sang trọng đáp ứng đầy đủ cho
        khách du lịch lẻ, khách đi theo đoàn. Đội ngũ tài xế nhiều kinh nghiệm,
        thân thiện, vui vẻ.
      </span>
      <span style="margin-bottom: 20px">
        Bên cạnh đó, Công Ty chúng tôi chuyên tổ chức các tour du lịch sinh thái
        như Tour du lịch Làng rau Trà Quế, Tour du lịch Làng chài Thanh Nam,
        Làng gốm Thanh Hà & Làng mộc Kim Bồng…
      </span>
    </div>
    <div class="image">
      <img
        width="100%"
        height="100%"
        src="./content/images/list-car.jpeg"
        alt=""
      />
    </div>
  </div>
  <div class="benefits">
    <span class="title">Những lợi ích của khách hàng</span>
    <span class="title-desc"
      >khi sử dụng dịch vụ của Công Ty TNHH MTV Dịch Vụ Du Lịch B&M Travel</span
    >
    <div class="list-benefits">
      <div class="item">
        <!--        <div class="icon">-->
        <!--        </div>-->
        <div class="title">
          DỊCH VỤ CHO THUÊ XE ĐƯA ĐÓN SÂN BAY CHUYÊN NGHIỆP, UY TÍN
        </div>
        <div class="desc">
          Chuyên nghiệp từ việc tiếp nhận thông tin khách hàng đến việc tư vấn
          và cung cấp dịch vụ cho thuê xe, luôn luôn đảm bảo đúng thời gian, tài
          xế kinh nghiệm, đặt sự an toàn và lợi ích của khách hàng lên đầu.
        </div>
      </div>
      <div class="item">
        <!--        <div class="icon"></div>-->
        <div class="title">
          XE ĐƯA ĐÓN SÂN BAY ĐỜI MỚI, HIỆN ĐẠI, TIỆN NGHI ĐẦY ĐỦ
        </div>
        <div class="desc">
          Luôn luôn đổi mới, luôn luôn lắng nghe khách hàng nên chúng tôi luôn
          luôn mang đến cho bạn phương tiện đưa đón hiện đại nhất để đáp ứng nhu
          cầu ngày càng cao của khách hàng.
        </div>
      </div>
      <div class="item">
        <!--        <div class="icon"></div>-->
        <div class="title">
          THUÊ XE SÂN BAY VỚI ĐỘI NGŨ NHÂN VIÊN KINH NGHIỆM, TẬN TÌNH
        </div>
        <div class="desc">
          Từ nhân viên tư vấn đến nhân viên lái xe đều có kinh nghiệm lâu năm
          luôn luôn đặt chữ tâm lên hàng đầu. Nhân viên lái xe luôn đặt sự an
          toàn của khách hàng trên hết và phục vụ khách hàng với thái độ tôn
          trọng, nhiệt tình nhất. Luôn mang đến sự hài lòng đến khách hàng.
        </div>
      </div>
    </div>
    <div class="note-price">
      Giá chỉ từ 250.000 vnđ xe 4 chỗ; 300.000 xe 7 chỗ ; 450.000 xe 16 chỗ.
      Công Ty TNHH MTV Dịch Vụ – Du Lịch B&M Travel xin cam kết sẽ cung cấp cho
      các bạn các phương thức di chuyển từ Đà Nẵng đi Hội An và ngược lại một
      cách hiệu quả, tiết kiệm và an toàn nhất.
    </div>
  </div>
  <div class="detail-car">
    <div class="item">
      <span class="title">Dòng Xe 4 Chỗ :</span>
      <span class="desc"
        >Xe 4 chỗ của chúng tôi với các dòng xe mới nhất, cùng với các tiện nghi
        hiện đại nhất với số lượng lớn nhằm đáp ứng đầy đủ các yêu cầu của khách
        hàng và mong muốn mang đến cho quý khách một dịch vụ chuyên nghiệp với
        các loại xe như : Vios , Kia Cerato , Elantra…</span
      >
    </div>
    <div class="item">
      <span class="title">Dòng Xe 7 Chỗ :</span>
      <span class="desc"
        >Xe 7 chỗ như: Fortuner , Mitsubishi , Xpander, 7 chỗ tiện nghi cao cấp,
        với lái xe kinh nghiệm lâu năm chúng tôi mang đến dịch vụ an toàn nhất
        cho khách hàng.</span
      >
    </div>
    <div class="item">
      <span class="title">Dòng Xe 16 Chỗ :</span>
      <span class="desc"
        >Xe 16 chỗ dùng để đưa đón một nhóm số lượng lớn khách hàng có thể là
        các khách du lịch của các công ty. có những loại xe sau: Xe Ford
        Transit, Hyundai Solati…</span
      >
    </div>
  </div>
  <div class="map">
    <div class="title">
      <div class="line"></div>
      <div class="text">BẢN ĐỒ</div>
      <div class="line"></div>
    </div>
    <div class="map-detail">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5366.864804841041!2d108.32875922930577!3d15.890569567124695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1685794021961!5m2!1svi!2s"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
